/*
* 基本設定
*/
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next";
  min-width: 1280px;
}

ul {
  list-style: none;
}

h1 {
  font-family: "Avenir Next";
  font-size: 56px;
  font-weight: 400;
  color: #0bc8b6;
}

h2,
h3 {
  font-family: "Lato";
  color: #2b546a;
  font-weight: 300;
}

h2 {
  font-size: 24px;
  margin-top: 8px;
}

h3 {
  font-size: 20px;
  border-bottom: 1px solid #e1e6ec;
  line-height: 64px;
  margin-bottom: 40px;
}

/*
* ヘッダー
*/
.header {
  height: 60px;
  border-bottom: 1px solid #eee;
}

.header-logo {
  height: 60px;
  width: 60px;
  background-color: #2b546a;
  float: left;
  text-align: center;
}

.header-logo img {
  width: 28px;
  padding-top: 16px;
}

.main-wrapper {
  background-color: #f4fafa;
}

.main {
  max-width: 1040px;
  margin: 0 auto;
  padding: 96px 0;
}

/*
* レッスン
*/
.lesson-container {
  margin-top: 96px;
}

.lesson-card {
  display: inline-block;
  width: 22.5%;
  margin-right: 24px;
  text-align: center;
  box-shadow: 0 0 6px #e8e8e8;
  background-color: #fff;
  cursor: pointer;
}

.lesson-item {
  border-radius: 4px;
  padding: 48px 0 64px;
}

.lesson-item img {
  width: 126px;
}

.lesson-item p {
  color: #2b546a;
}

/*
* モーダル
*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-inner {
  position: absolute;
  top: 8%;
  right: 0;
  left: 0;
  width: 480px;
  padding-bottom: 60px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.modal-header {
  height: 8px;
  width: 100%;
  margin-bottom: 60px;
  border-radius: 8px 8px 0 0;
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/react/modal_bar.svg");
}

.modal-introduction p {
  color: #5876a3;
  width: 384px;
  line-height: 32px;
  text-align: left;
  margin: 36px auto 40px;
}

.modal-close-btn {
  font-size: 13px;
  color: #8491a5;
  width: 200px;
  padding: 16px 0;
  border: 0;
  background-color: #f0f4f9;
  cursor: pointer;
}

.modal-close-btn:hover {
  color: #8491a5;
  background-color: #ccd9ea;
  transition: 0.3s ease-in-out;
}

/*
* コンタクトフォーム
*/
.contact-container {
  margin-top: 96px;
}

.contact-form p {
  color: #8491a5;
  margin-top: 32px;
  margin-bottom: 8px;
}

.contact-form p.contact-message-error {
  color: #ff4d75;
  margin-top: 8px;
}

.contact-form input,
.contact-form textarea {
  box-sizing: border-box;
  background-color: #fff;
  color: #8491a5;
  width: 440px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #bac6d3;
  border-radius: 3px;
  display: block;
}

.contact-form input {
  height: 48px;
}

.contact-form textarea {
  height: 184px;
}

.contact-form input[type="submit"] {
  color: #fff;
  width: 184px;
  height: 48px;
  font-size: 13px;
  background-color: #30c8d6;
  border: none;
  margin-top: 32px;
}

.contact-form input[type="submit"]:hover {
  cursor: pointer;
}

.contact-submit-message {
  box-sizing: border-box;
  color: #16a48a;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 20px;
  background-color: rgba(48, 214, 184, 0.16);
  border: 2px solid #30d6b8;
  border-radius: 3px;
}

/*
* フッター
*/
.footer {
  padding: 80px 0;
}

.footer-inner {
  max-width: 1040px;
  margin: 0 auto;
}

.footer-logo {
  display: inline-block;
}

.footer-logo img {
  height: 20px;
}

.footer-logo p {
  color: #b1c0c0;
  font-size: 12px;
}

.footer-inner ul {
  float: right;
}

.footer-inner li {
  color: #2b546a;
  display: inline-block;
  padding-left: 16px;
}

/* reset ================================ */
* {
  box-sizing: border-box;
}

/* html {
  font-size: 100%;
  font-family: 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

body {
  margin: 0;
  background-color: #f6faff;
  color: #6c7686;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
} */

a {
  display: block;
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

a:hover {
  transition: all 0.3s ease;
}

/* h1, h2, h3, h4, h5, h6, p {
  margin: 0;
} */

/* h1 {
  font-weight: 600;
} */

input {
  font-family: inherit;
  font-size: 100%;
}

/* top ================================ */
.top-wrapper {
  max-width: 1200px;
  min-width: 920px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 60px;
}

.top-detail {
  width: 36%;
  min-width: 320px;
  margin-top: -40px;
}

.top-detail .subtitle {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.top-detail .title {
  font-size: 54px;
  line-height: 66px;
  letter-spacing: 2px;
  margin-bottom: 24px;
}

.top-detail .description {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}

.top-detail .index-button {
  width: 184px;
  height: 48px;
  text-align: center;
  line-height: 45px;
  font-weight: 600;
  color: #42cea9;
  background-color: #ffffff;
  border: 2px solid #58d2b2;
  border-radius: 2px;
}

.top-detail .index-button:hover {
  color: #ffffff;
  background-color: #58d2b2;
}

.index-button {
  cursor: pointer;
}

.top-image {
  width: 64%;
  text-align: center;
  overflow: hidden;
}

.top-image img {
  width: 88%;
}

/* header ================================ */
/* header {
  height: 56px;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f4f9;
}

.header-logo {
  margin-left: 56px;
  font-weight: 600;
  font-size: 20px;
  line-height: 56px;
  color: #6c7686;
  display: inline;
}

.header-logo:hover {
  color: #58d2b2;
} */

/* container ================================ */
.container {
  width: 80%;
  min-width: 360px;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 56px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.container-header .new-button {
  background: #80bcff;
  border-radius: 30px;
  font-size: 14px;
  width: 120px;
  height: 45px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
  border: 2px solid #80bcff;
}
.container-header .new-button:hover {
  background-color: #ffffff;
  color: #80bcff;
  transition: all 0.3s ease;
}

.cancel-button {
  margin-top: 16px;
  margin-left: 2px;
  font-weight: 600;
  color: #bac6d3;
  text-decoration: underline;
  display: inline-block;
}

.cancel-button:hover {
  color: #80bcff;
}

.container-header h1 {
  font-size: 24px;
}

/* index ================================ */
.table-head {
  display: flex;
  background-color: #b7cadc;
  border-radius: 2px 2px 0 0;
  height: 44px;
  font-size: 16px;
  line-height: 46px;
  color: #ffffff;
}

.id-column {
  width: 72px;
  text-align: center;
}

.table-body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.table-body li {
  height: 72px;
  border: 1px solid #f0f4f9;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-body .id-column {
  font-size: 16px;
  color: #bac6d3;
}

.table-body .name-column {
  font-size: 14px;
  font-weight: 500;
  color: #8491a5;
}

.item-data {
  display: flex;
}

.item-menu {
  display: flex;
}

.item-menu form {
  width: 60px;
  text-align: center;
}

.item-menu form input {
  font-size: 16px;
  color: #bac6d3;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.item-menu form input:hover {
  color: #ff7f8c;
  transition: all 0.3s ease;
}

.item-menu a {
  width: 60px;
  font-size: 16px;
  color: #bac6d3;
  text-align: center;
}

.item-menu a:hover {
  color: #80bcff;
}

/* new, edit ================================ */
.item-form-wrapper {
  background-color: #ffffff;
  border: 1px solid #f0f4f9;
  border-radius: 0px 0px 2px 2px;
  padding: 32px;
}

.form-label {
  font-size: 14px;
  color: #8491a5;
}

.item-form-wrapper input[type="text"] {
  width: 100%;
  height: 40px;
  margin-top: 8px;
  padding: 12px 16px;
  background-color: #fcfcfd;
  border: 1px solid #bac6d3;
  border-radius: 2px;
  color: #2b546a;
  font-size: 12px;
}

.item-form-wrapper input[type="submit"] {
  display: block;
  width: 120px;
  height: 45px;
  margin-top: 24px;
  margin-left: auto;
  border-radius: 30px;
  font-size: 14px;
  background-color: #80bcff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: 2px solid #80bcff;
}

.item-form-wrapper input[type="submit"]:hover {
  background-color: #ffffff;
  color: #80bcff;
  transition: all 0.3s ease;
}
